@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100dvh;
  background-image: linear-gradient(
    180deg,
    hsl(201, 96%, 70%) 0%,
    hsl(204, 95%, 75%) 2%,
    hsl(206, 92%, 80%) 4%,
    hsl(207, 89%, 83%) 6%,
    hsl(208, 86%, 85%) 8%,
    hsl(209, 80%, 87%) 10%,
    hsl(214, 59%, 88%) 12%,
    hsl(227, 37%, 93%) 15%,
    hsl(0, 0%, 100%) 40%,
    #fcfcfc 100%
  );
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  margin-bottom: 40px;

  & img {
    width: 130px;
  }
  & a {
    color: #111;
  }
}

.success_message {
  background-color: #dff0d8;
  color: #3c763d;
  padding: 10px 15px;
  border: 1px solid #d6e9c6;
  border-radius: 4px;
  margin-bottom: 20px;
  font-size: 16px;
  width: fit-content;
}

/* --- verberg het Cargo Lading (kg) input veld. Toon het wanneer 'Boeing 737-700' word geselecteerd --- */
.cargo_lading {
  display: none;
}

input.cargo_lading {
  margin-bottom: 20px;
}

/* --- login form index.php --- */
.login_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  background-color: #ffffff;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  margin: 100px auto;
  border-radius: 6px;
  padding: 24px 12px;

  & img {
    width: 60px;
    margin: auto;
  }

  & h1 {
    text-align: center;
    color: #111;
    font-size: 22px;
    margin: 6px 0 16px;
  }

  & .error_message {
    color: red;
    margin: 6px 0;
  }

  & input {
    margin: 6px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-weight: 500;
  }

  & input[type="submit"] {
    background-color: #387cd4;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    opacity: 0.9;
  }
}

@media only screen and (max-width: 500px) {
  form {
    width: 90%;
  }
}

/* --- home.php --- */
section.toon_vluchten {
  max-width: 1300px;
  margin: 50px auto;
  padding: 0 30px;

  & h1 {
    color: #333;
    margin-bottom: 16px;
  }
}

.table-container {
  max-height: 700px;
  overflow: auto;
  box-shadow: 0 0 3px #ccccccbd;
  border-radius: 6px;

  & table {
    overflow: auto;
    border-collapse: collapse;
  }

  & th {
    background-color: #fefefe;
    border: 1px solid #ddd;
    color: #222;
    padding: 8px;
    text-align: left;
  }

  & td {
    background-color: #f0ecec;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
}

section.boek_vlucht {
  max-width: 1300px;
  margin: 40px auto 20px;
  padding: 0 30px;

  & form {
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: #f0ecec;
    box-shadow: 0 0 3px #ccc;
    border-radius: 6px;
    padding: 20px;
  }

  & h2 {
    color: #333;
    margin-bottom: 24px;
  }

  & input,
  select {
    border: 1px solid #dddddde0;
    border-radius: 6px;
    padding: 8px;
  }

  & input[type="submit"] {
    background-color: #387cd4;
    border-radius: 6px;
    color: #fefefe;
    font-weight: 500;
    cursor: pointer;
    padding: 12px 16px;
  }
  & input[type="submit"]:hover {
    opacity: 0.9;
  }
}

@media only screen and (max-width: 500px) {
  nav img {
    width: 120px;
  }
  section.boek_vlucht form {
    width: 100%;
  }
}

footer {
  margin: 50px 0 6px 0;
  text-align: center;
  color: #333;
}
